*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
}



.gradient-background {
    background: linear-gradient(300deg, #00ff11b9, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 10s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

  
  #title h1{
    color: white;
    padding: 20px 20px;
    font-family: 'Bagel Fat One', cursive;
    
    text-align: center;
  }
  #text {
    width: 100%;
    height: 50%;
   
  }
  #text h3{
    text-align: center;
    font-weight: 20;
    padding: 20px 20px;
    font-family: 'Bagel Fat One', cursive;
    color: #0b0b0bbc;
  }
  #text p{
    opacity: .5 #fa0505;
    text-align: center;
    padding: 10px 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  #text h4{
    text-align: center;
    font-weight: 10;
    padding: 20px 20px;
    font-family: 'Bagel Fat One', cursive;
    color: #fa0808d8;
  }






  #main{
    height: 100%;
    width: 100%;
    

  }
  .container {
   
    display:grid ;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
  }
  
  .form-group {
    margin-top: 20px ;
    margin-bottom: 5px;
  }
  
  .love-score {
    margin-top: 30px;
    font-size: 24px;
  }
  
  .love-message {
    opacity: .01 #f1eaea;
    text-align: justify;
    padding: 10px 10px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
  }  


  #footer{
    
    height: 45%;
    width: 100%;
    background-color: rgb(222, 133, 133);
  }
  #footer h4{
    text-align: left;
    font-weight: 5;
    padding: 20px 20px;
    font-family: 'Bagel Fat One', cursive;
    color: #f1e9e9d8;

  }
  #footer p{
    opacity: .01 #f1eaea;
    text-align: justify;
    padding: 10px 10px;
    line-height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

  }
  #footer h5{
    text-align: end;
    font-weight: 5;
    margin-top: 20px;
    padding: 20px 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #f1e9e9d8;

  }
  #footer a{
    color: #080808;
  }


  